/* ---- fonts --- */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700');



/* ----- Landing/background image ----- */

.landing-image {
    background: url(/Assets/Images/LandingImage2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

html,
body {
    overflow-x: hidden;
}




/*----- General Styles ------ */

.uppercase {
    text-transform: uppercase;
}

.list-inline {
    display: inline-flex;
}


/*------BG COLOURS -------------*/

.bg-white {
    background-color: white;
}

.bg-monkees {
    background-color: #de2e30;
}

.bg-section {
    background-color: #fafafa;

}


/*------NavBar------*/

.navtext {

    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.navpadding {
    margin: auto;
    padding-right: 30px;
}

/* Nav Bar Text Colour */

.navbar-light .navbar-nav .nav-link {
    color: #edda03;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #f1e997;

}

/* - ------ footer ------ */

.footer-properties {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;

}

.index-footer-properties {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 20px; 
    }





/* --- footer position for pages with less content --- */



.fixed-footer-properties {    /* making so footer doesnt overlap content on mobile  */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;

}

@media (min-width:1200px) {
    .fixed-footer-properties {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 20px; 
    }
}



/* --- footer styles --- */
    
    
    .social-links {
        margin-top: 16px;
        font-size: 20px;
        color: #edd704;

    }


    .social-links li a i {
        margin-top: 5px;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        padding: 12px;
        border-radius: 30%;
        font-size: 16px;
        line-height: 7px;
        text-align: center;
        color: #de2e30;
        background: #edd704;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .social-links li a i:hover {

        background-color: #f1e997;
    }

    .footer-text {
        margin-right: 10px;
        font-family: 'Comfortaa', sans-serif;
        color: #edda03;

    }

    .footer-text:hover {
        text-decoration: none;
        color: #f1e997;

    }

    .footer-text p {
        margin-bottom: 0;

    }



    /* ---- modal ----*/
    .modal-dialog {
        z-index: 1;
    }

    .modal-backdrop {
        position: inherit;
    }

    .btn-link {
        color: #edda03;
        text-decoration: none;
        margin-top: 16px;
    }

    .btn-link:hover,
    .btn-link:active,
    .btn-link:focus {
        color: #f1e997;
        text-decoration: none;

    }

    .btn-submit {
        background-color: #de2e30;
        color: #edda03;
        border-color: transparent;
        border: none;
    }


    .btn-submit:hover,
    .btn-submit:active,
    .btn-submit:focus {
        background-color: #d24749;
        color: #f1e997;
        border-color: transparent;
        border: none;
        box-shadow: none;
    }

    .text-muted {
        font-style: italic;
    }

    .modal-text {
        font-family: 'Comfortaa', sans-serif;
    }


    /* --- contact page ---*/
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 70%;
        width: 50%;

    }

    .contact-button {
        margin-top: 10px;
        text-align: center;
    }

    .container-padding {
        padding: 0;
    }

    .banner-properties {
        padding-top: 20px;
        height: 33vh;
        margin: auto;
        max-width: 100%;
    }

    .contact-text-properties,
    .video-text-properties {
        font-family: 'Comfortaa', sans-serif;
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-properties {
        padding-bottom: 10px;

    }

    /* ------ About Page --- */
    .about-banner-properties {
        padding-top: 20px;
        height: 33vh;
        margin: auto;
        max-width: 100%;
    }


    .style-one {                 /* line break style */
        border: 0;
        height: 1px;
        width: 70%;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    .album-links {
        text-decoration: none;
    }

    .album-links:hover {
        text-decoration: none;
    }



/* -- videos --- */

.video-styles {
    margin-left: 20px;
    margin-right: 20px;
    
}


 .video-subheading-properties {
    padding-bottom: 10px;
    font-family: 'Comfortaa', sans-serif;
}

.video-title-text,
.music-title-text{
    font-family: 'Comfortaa', sans-serif;
    padding-top: 30px;
}

.video-padding {
    padding-top: 20px;
}



.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	padding-right: 20px;
	height: 0;
	margin-right:30px;
	margin-left:30px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;

}

.video-song-links {
    margin-bottom:40px;
}



.video-song-links:hover {
    text-decoration: none;
}


/* -- Music page --*/

.music-player-padding {
    margin-top: 15px;
    margin-bottom:5px;
    
    
}

.music-icon-style {
    padding-right: 5px;
}

.music-links {
    margin-bottom:10px;
    font-style: italic;
    color: #6c757d
}

.music-links:hover {
    
    color:#b8bcbf;
}

.music-link-style:hover {
    text-decoration: none;
    
}

.music-signup-heading {
    
        font-family: 'Comfortaa', sans-serif;
        padding-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
